body { background-color: rgb(29 ,30,51); }

.App {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  width: 95vw;
  margin: 4.5vh auto;
  font-family: "Roboto", sans-serif;
}

.details {
  height: 90vh;
  width: 100%;
  background: yellow;
}

hr {
  border-color: #eee;
  height: .1px;
  background-color: rgb(29 ,30,51);
}