body { background-color: rgb(29 ,30,51); }

.App {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  width: 95vw;
  margin: 2.5vh auto;
  font-family: "Roboto", sans-serif;
}

.detail {
  height: 85vh;
  width: 100%;
  background: #ecf0f1;
  overflow: auto;
}

hr {
  border-color: #eee;
  height: .1px;
  background-color: rgb(29 ,30,51);
}